<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template for Netflix Knockoff</title>
    <link rel="stylesheet" href="/movieapi/styles/base.css">
    <link rel="stylesheet" href="/movieapi/styles/larger.css">
    <link rel="icon" href="data:,">

    <script src="" type="module"></script>
</head>
<body>
    <video width="640" height="360" controls>
        <source src="/movieapi/public/videos/filler-video.mp4" type="video/mp4">
      </video>
</body>
</html>