<div class="logo">
    <img src="/public/images/icons/icons8-netflix-480.webp" alt="Netflix Logo" title="https://icons8.com">
    <a href="index.html"></a>
</div>
<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">TV Shows</a></li>
        <li><a href="">Movies</a></li>
        <li><a href="">New & Popular</a></li>
        <li><a href="">My List</a></li>
        <li><a href="">Browse by Languages</a></li>
    </ul>
</nav>
<div id="nav-account">
    <img src="/public/images/icons/icons8-search-50.png" alt="Search Icon" title="https://icons8.com"> 
    <img src="/public/images/icons/icons8-bell-48.png" alt="Alert Icon" title="https://icons8.com">
    <img src="/public/images/icons/icons8-rounded-square-purple-64.webp" alt="User Icon" title="https://icons8.com">
    <img src="/public/images/icons/icons8-arrow-down-30.png" alt="Pull Down Arrow" title="https://icons8.com">
</div>
